<style>
    .title{
        font-size: 3em;
        font-weight: 1000px;
        color: blue;
        text-align: center;
    }
    .btn{
        display: inline-block;
        padding: .5em;
        border: 1px solid;
        border-radius: .5em;
        font-size: 14px;
        font-weight: bold;
        color: red;
    }
    .btn:hover{
        //background-color: white;
        opacity: .5;
    }
    .sign-in{
        border-color: green;
        background-color: rgba(0, 128, 0, 0.9);
    }
    .register{
        border-color: blue;
        background-color: blue;
    }
</style>
<h1 class="title">
    ホームページ
</h1>

<hr>
<h2> <a href="/books">本一覧を見る</a></h2>
<!-- <h2><%= link_to "本一覧を見る", "", :class => "" %></h2> -->